@model WebApplication11.Models.Temp

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Temp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название группы
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Name_Group)
        </dd>

        <dt>
           Название организации
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organizat.Name_Org)
        </dd>

        <dt>
          Имя Сотрудника
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sotrudnick.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_temp }) |
    @Html.ActionLink("Back to List", "Index")
</p>
